<h1>speach#show</h1>

 <select>
  <option value="en">English</option>
  <option value="es">Spanish</option>
  <option value="af">Afrikaans</option>
  <option value="sq">Albanian</option>
</select>
<div id="sourceText"></div>
<div id="translation"></div>
<%= @key %>
     <script>
      function translateText(response) {
        document.getElementById("translation").innerHTML += "<br>" + response.data.translations[0].translatedText;

        var msg = new SpeechSynthesisUtterance(response.data.translations[0].translatedText.replace(/&quot;/g,'"'));
        window.speechSynthesis.speak(msg);

      }
    </script>
